<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
</head>
<body>
    <body>
        <p><a href="user_info">Go to user profile</a></p>
        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Created_at</th>
                <th>user_level</th>
            </tr>
            <tr>
                <td>Info</td>
                <td>Info</td>
                <td>Info</td>
                <td>Info</td>
            </tr>
        </table>
    </body>
</body>
</html>